.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto auto;
  margin-top: 15%;
}

.form-wrapper {
  padding: 4rem;
  width: 35%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.form-wrapper h1 {
  font-size: 3.1rem;
  color: #5e5e5e;
}

.form-wrapper input[type="number"] {
  border: 1px solid #cccccc;
  height: 30px;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
}

input[type="number"]:active {
  border: 2px solid #5e5e5e;
}

.form-action {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

.form-action button {
  height: 40px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.form-action button:first-of-type {
  flex-basis: 60%;
  background-color: #db0000;
  color: #fff;
}

.form-action button:first-of-type:hover {
  flex-basis: 60%;
  background-color: #ee5959;
  color: #000000;
  border: 1px solid #db0000;
}

.form-action button:nth-of-type(2) {
  flex-basis: 30%;
}

@media (max-width: 550px) {
  .App {
    padding: 3rem;
  }
  .form-wrapper {
    width: 100%;
    background-color: #fff;
  }
}
